@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

body {
    background: url('/assets/images/bg.jpg') no-repeat center center fixed;
    background-size: cover; 
    font-family: "Lexend", sans-serif;
    color: #fff;
    text-align: center;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.banner {
	width: 100%;
	height: calc(100vh - -100px);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	background: none;
	color: #fff;
	position: relative;
    font-family: "Lexend", sans-serif;
}
#uv-form {
    margin-top: 10px;
}
.form__input {
    padding: 10px;
    font-size: 16px;
    border: 2px solid #141414;
    border-radius: 50px;
    width: 300px;
    text-align: center;
    color: #fff;
    background: rgba(0,0,0,0.5);
    font-family: "Lexend", sans-serif;
}
#dynamic-text {
    cursor: pointer;
    transition: opacity 0.3s ease;
}

.scroll-down-btn {
	opacity: 0.5;
	position: absolute;
	bottom: 20px;
	background-color: transparent;
	border: none;
	color: #fff;
	font-size: 24px;
	cursor: pointer;
}

.navbar {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background: rgba(0, 0, 0, 0.5);
	backdrop-filter: blur(3px);
	-webkit-backdrop-filter: blur(3px);
	padding: 6px 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: white;
	z-index: 99999;
}
.nav-links {
	list-style: none;
	display: flex;
	gap: 20px;
	margin-right: 30px;
}
.nav-links a {
	color: white;
	text-decoration: none;
	font-size: 18px;
	transition: 0.2s ease-in-out;
}
.nav-links a:hover {
	color: #ccc;
}

#searchBar {
	display: flex;
	margin: 0 auto;
	margin-bottom: 20px;
	padding: 10px;
	width: 50%;
	border-radius: 50px;
	border: 2px solid #141414;
	background-color: rgba(0, 0, 0, 0.5);
	color: #fff;

}

.button-container {
	margin-right: 100px;
	margin-left: 100px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 10px;
}

.filter-button {
	padding: 15px 25px;
	font-size: 16px;
	border: 2px solid #141414;
	margin: 3px;
	cursor: pointer;
	background-color: rgba(0, 0, 0, 0.5);
	color: white;
	border-radius: 50px;
	transition: 0.3s;
}

.filter-button:hover {
	background-color: #555;
}

/* .navbar {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 20px;
	background: rgba(13, 13, 13, 0.5);
	backdrop-filter: blur(3px);
	-webkit-backdrop-filter: blur(3px);
	z-index: 99999;
}

.nav-left, .nav-right {
	display: flex;
	align-items: center;
}

.nav-left a {
	text-decoration: none;
	color: white;
	font-size: 23px;
	margin: 0 8px;
	transition: color 0.3s ease;
}

.nav-right a {
	text-decoration: none;
	color: white;
	font-size: 23px;
	margin: 0 10px;
	margin-right: 40px;
	transition: color 0.3s ease;
}

.nav-left a:hover {
	color: #bbb;
}

.nav-right a {
	display: inline-block;
	transition: transform 0.6s ease, color 0.3s ease;
}

.nav-right a:hover {
	color: #bbb;
	transform: rotate(360deg);
}

.nav-center {
	font-size: 18px;
	color: white;
	text-align: center;
	flex-grow: 1;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	padding: 0 20px;
}

 .navbar {
	position: fixed;
	top: 0;
	width: 100%;
	background-color: rgba(13, 13, 13, 0.5);
	backdrop-filter: blur(3px);
	color: white;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
	z-index: 99999;
}

.nav-btn {
	background-color: transparent;
	border: none;
	color: #fff;
	font-size: 24px;
	cursor: pointer;
	transition: color 0.3s, transform 0.3s;
	margin-right: 10px;
}

.nav-btn:hover {
	color: #ccc;
	transform: rotate(360deg);
}

.nav-links {
	display: flex;
	gap: 20px;
}

.nav-links a {
	color: #fff;
	text-decoration: none;
	font-size: 18px;
	display: flex;
	align-items: center;
	gap: 8px;
	transition: color 0.3s;
}

.nav-links a:hover {
	color: #ccc;
}

.nav-links i {
	font-size: 20px;
} */

.fade {
	-webkit-animation: colorFade 5s infinite;
	animation: colorFade 5s infinite;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
}

@-webkit-keyframes colorFade {
	0% {
		color: green;
	}

	33.33% {
		color: blue;
	}

	66.66% {
		color: yellow;
	}

	100% {
		color: green;
	}
}

@keyframes colorFade {
	0% {
		color: green;
	}

	33.33% {
		color: blue;
	}

	66.66% {
		color: yellow;
	}

	100% {
		color: green;
	}
}

.container-buttons {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 10px;
}

.container {
	margin: 0 auto;
	max-width: 1200px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 20px;
	margin-top: 20px;
}

#games-container {
    margin: 0 auto;
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.game-box {
    background: rgba(0,0,0,0.5);
    border: 2px solid #141414;
    padding: 7px;
    width: 170px;
    border-radius: 10px;
    text-align: center;
    transition: 0.2s ease-in-out;
    position: relative;
    overflow: hidden; /* Ensures loader stays within the box */
}

.game-box:hover {
    transform: translateY(-5px);
}

.game-box a {
    text-decoration: none;
    color: #fff;
    display: block;
    position: relative;
}

/* Loader styles */
.loader {
    width: 40px;
    height: 40px;
    border: 5px solid rgba(255, 255, 255, 0.3);
    border-top: 5px solid #fff;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@keyframes spin {
    0% { transform: translate(-50%, -50%) rotate(0deg); }
    100% { transform: translate(-50%, -50%) rotate(360deg); }
}

.game-box img {
    width: 170px;
    height: 170px;
    object-fit: cover;
    display: block;
    opacity: 0; /* Hide image until fully loaded */
    transition: opacity 0.3s ease-in-out;
}

.game-title {
    padding: 10px;
    text-align: center;
    font-weight: bold;
}


/* #search-bar {
    width: 50%;
    padding: 10px;
    margin: 15px 0;
    border-radius: 50px;
    border: none;
    font-size: 16px;
    background: rgba(0,0,0,0.5);
	border: 2px solid #141414;
    color: white;
    outline: none;
}

.grid {
  	margin: 0 auto;
	max-width: 1200px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 20px;
	margin-top: 20px;
    
}

.card {
    background: rgba(0,0,0,0.5);
	border: 2px solid #141414;
    padding: 15px;
	height: 220px;
	width: 190px;
    border-radius: 10px;
    text-align: center;
    transition: 0.2s ease-in-out;
}

.card:hover {
    transform: scale(1.1);
}

.card img {
    width: 180px;
    height: 180px;
    object-fit: cover;
    border-radius: 10px;
}

.card a {
    display: block;
    text-decoration: none;
    color: white;
    margin-top: 10px;
}


.image-item {
    position: relative;
    width: 190px;
    height: 230px; 
    overflow: hidden;
    transition: transform 0.3s;
    border-radius: 10px;
    background-color: #141414;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding: 10px; 
}

.image-item:hover {
    transform: scale(1.1);
}

.image-item a {
    display: block;
    width: 100%;
    height: auto;
    text-decoration: none;
    color: inherit;
}

.image-item img {
    width: 100%;
    height: 190px;
    object-fit: cover;
    border-radius: 10px;
}

.label {
    margin-top: 10px; 
    background-color: #141414;
    color: white;
    text-align: center;
    width: 100%; 
    padding: 5px 0; 
    border-radius: 5px;
    font-size: 14px; 
    overflow: hidden;
    text-overflow: ellipsis; 
    white-space: nowrap; 
}

 .image-item {
	position: relative;
	width: 190px;
	height: 190px;
	overflow: hidden;
	transition: transform 0.3s;
	border-radius: 10px;
}

.image-item:hover {
	transform: scale(1.1);
}

.image-item a {
	display: block;
	width: 100%;
	height: 100%;
	text-decoration: none;
	color: inherit;
}

.image-item img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.label {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: rgba(0, 0, 0, 0.5);
	color: white;
	text-align: center;
	padding: 10px;
	border-radius: 5px;
	opacity: 0;
	pointer-events: none;
	transition: opacity 0.3s;
}

.image-item:hover .label {
	opacity: 1;
} 

.image-item-tre {
	position: relative;
	width: 150px;
	height: 150px;
	overflow: hidden;
	transition: transform 0.3s;
	border-radius: 10px;
}

.image-item-tre:hover {
	transform: scale(1.1);
}

.image-item-tre a {
	display: block;
	width: 100%;
	height: 100%;
	text-decoration: none;
	color: inherit;
}

.image-item-tre img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.label-tre {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: rgba(0, 0, 0, 0.5);
	color: white;
	text-align: center;
	padding: 10px;
	border-radius: 5px;
	opacity: 0;
	pointer-events: none;
	transition: opacity 0.3s;
}

.image-item-tre:hover .label-tre {
	opacity: 1;
} 

.search-bar-wrapper {
	margin: 0 auto;
	position: relative;
	width: 40%;
	margin-bottom: 15px;
}

.search-bar {
	width: 100%;
	padding: 10px 40px 10px 10px;
	background-color: #141414;
	border: none;
	color: #fff;
	font-size: 16px;
	border-radius: 8px;
	text-align: left;
}

.search-icon {
	position: absolute;
	top: 50%;
	right: 10px;
	transform: translateY(-50%);
	color: #ccc;
	font-size: 16px;
	pointer-events: none;
} BRUNYS HERE THIS IS THE OLD BOX STUFF*/

.container-frame {
	display: flex;
	align-items: flex-start;
} 

iframe {
	margin-left: 5vh;
	width: 70vw;
	height: 75vh;
	border: none;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}

.controls {
	margin-left: 5vh;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	width: 70vw;
	gap: 5px;
	background: rgba(0,0,0,0.5);
	border-left: 2px solid #141414;
	border-right: 2px solid #141414;
	border-bottom: 2px solid #141414;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
}

.controls button {
	padding: 10px;
	font-size: 20px;
	background-color: transparent;
	color: #ffffff;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	transition: color 0.2s ease;
	display: flex;
	align-items: center;
	justify-content: center;
}

.controls button:hover {
	color: #ccc;
}

.ad-box-iframe {
	margin-right: 3.5vw;
	width: 20vw;
	height: 75vh;
	background: rgba(0,0,0,0.5);
	border: 2px solid #141414;
	position: absolute; 
	right: 0; 
	top: 20px; 
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 10px;
	overflow: hidden;
}


.ad-box-iframe iframe {
	margin-right: 2.5vw;
	width: 160px !important;
	height: 300px !important;
	border: none;
}

.image-link {
	display: inline-block;
}

.image {
	border: none;
	width: 300px;
	height: 200px;
	transition: transform 0.3s ease;
	border-radius: 15px;
}

.image:hover {
	transform: scale(1.1);
}

#loading-screen {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #0d0d0d;
	z-index: 9999;
	color: white;
}

.dots {
	display: flex;
	gap: 8px;
	margin-bottom: 16px;
}

.dot {
	width: 12px;
	height: 12px;
	background-color: white;
	border-radius: 50%;
	animation: bounce 1.2s infinite ease-in-out;
}

.dot:nth-child(2) {
	animation-delay: 0.2s;
}

.dot:nth-child(3) {
	animation-delay: 0.4s;
}

@keyframes bounce {

	0%,
	80%,
	100% {
		transform: scale(0);
	}

	40% {
		transform: scale(1);
	}
}

#loading-screen p {
	font-size: 1rem;
	opacity: 0.9;
}

hr {
	border: none;
	height: 2px;
	background-color: #fff;
	margin: 40px auto;
	width: 50%;
}

.button {
	background-color: #141414;
	border: none;
	color: #fff;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	transition: background-color 0.3s, transform 0.2s;
	cursor: pointer;
	border-radius: 8px;
}

.button:hover {
	background-color: #1d1d1d;
	transform: scale(1.05);
}

h1 {
	font-size: 3rem;
	margin: 10px;
}

.bar {
	margin: 0 auto;
	width: 70vw;
	height: 80px;
	background-color: #141414;
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
	border: none;
	border-radius: 8px;
}

.button-home, .button-discord, .button-bruny {
	background-color: #141414;
	border: none;
	color: #fff;
	padding: 20px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	transition: background-color 0.3s, color 0.3s, transform 0.2s;
	cursor: pointer;
	border-radius: 8px;
}

.button-home:hover {
	background-color: #1d1d1d;
	transform: scale(1.05);
}

.button-discord:hover {
	background-color: #5865F2;
	transform: scale(1.05);
}

.button-bruny:hover {
	background-color: #e8f258;
	transform: scale(1.05);
	color: #000;
}

a {
	text-decoration: none;
}

.con {
	display: flex;
	margin: 0;
}

.image-bundle {
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 10px;
	width: 100%;
}

.image-bundle img {
	width: 130px;
	height: auto;
	border-radius: 5px;
	cursor: pointer;
	transition: transform 0.3s, box-shadow 0.3s;
}

.image-bundle img:hover {
	transform: scale(1.06);
}

.my-container {
    display: flex;
    flex-direction: column; 
    gap: 30px; 
    width: 50vw; 
    margin: 0 auto; 
}

.my-box {
    background-color: rgba(0,0,0,0.5); 
    padding: 20px; 
    color: white; 
    text-align: center; 
    border: 2px solid #141414;
    border-radius: 50px; 
}

.search-bar img {
	position: absolute;
	right: 10px;
	top: 50%;
	transform: translateY(-50%);
	width: 20px;
	height: 20px;
}

.images-row {
	display: flex;
	gap: 10px;
	flex-wrap: wrap;
	justify-content: center;
}

.images-row a {
	display: block;
}

.images-row img {
	width: 30px;
	height: 30px;
	transition: transform 0.3s ease;
}

.images-row img:hover {
	transform: scale(1.1);
}

.ad-container {
    position: relative;
    width: 728px;
    height: 90px;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
}

.ad-container iframe {
    display: block;
    width: 728px !important;
    height: 90px !important;
    margin: 0 !important;
    padding: 0 !important;
    border: none !important;
}

#popup {
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #fff;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	text-align: center;
	z-index: 1000;
	background-color: #141414;
	color: #fff;
}
#popup button {
	margin-top: 10px;
	padding: 20px 20px;
	background-color: #0d0d0d;
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

.hacks-box {
	margin: 0 auto;
	background: #141414;
	color: #fff;
	width: 20vw;
	height: 40vh;
	padding: 20px;
	border-radius: 10px;
	text-align: center;
}

.unprimary-button {
	display: block;
	width: 100%;
	margin: 10px 0;
	padding: 10px;
	background: #242424;
	color: #fff;
	border: none;
	border-radius: 100px;
	cursor: pointer;
	position: relative;
	transition: 0.2s ease-in-out;
}

.unprimary-button:hover {
	background: #1a1a1a;
}

.message {
	margin-top: 5px;
	color: lightgreen;
	display: none;
	font-size: 14px;
}

* {
    scrollbar-width: thin;
    scrollbar-color: #fff transparent;
}

*::-webkit-scrollbar {
    width: 4px;
}

*::-webkit-scrollbar-track {
    background: transparent;
}

*::-webkit-scrollbar-thumb {
    background-color: #fff;
    border-radius: 10px;
}

::selection {
	background-color: #fff;
	color: #0d0d0d;
}
